{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Inicio{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock style %}
{% block main %}
<div class="ui grid">
    <div class="eight wide column" style="text-align: center;">
        <p style="color: rgb(251, 162, 0);font-size: 63px;">BIENVENIDO A CRAFTSMAN GOLD</p>
        <p style="font-size: 20px;">Inspirados por la gente y su trabajo</p><br>
        <p style="font-size: 20px;">En craftsman gold promovemos el comercio justo mediante materiales sustentables y el
            arte tradicional de nuestras comunidades locales.
            Conoce nuestras piezas de moda originales llenas de riqueza cultural</p> <br><br><br>
    </div>

    <div class="eight wide column"
        style="background-image: url({% static 'img/inicio/artesano_inicio.jpg' %});background-size: cover;">
    </div>


</div>
<br><br><br>

<section class="ui container">
    <h2 class="ui header">Productos Recomendados</h2>
    <div class="ui four cards">
        {% for product in productos %}
        {% if forloop.counter < 5 %} 
        <div class="ui card">
            <div class="image">
                <img src="{{product.imagen.url}}" alt="Producto 1" style="height: 290px;">
            </div>
            <div class="content">
                <a class="header">{{product.nombre}}</a>
                <div class="meta">Categoria: {{product.subcategoria.categoria.nombre}}</div>
                <div class="description">
                    {{product.descripcion}}
                </div>
            </div>
            <div class="extra content" style="display: flex;align-items: center;">
                <span class="price">${{product.precio}} COP</span>
                <button class="ui yellow button" onclick="agregarCarrito(event)" data-id="{{product.id}}">agregar al carrito</button>
                <input type="number" name="cantidad" min="1" max="100" style="height: 40px; width: 20%;">
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<br><br>
{% endblock main %}
{% block scripts %}
<script>
    function agregarCarrito(event){
      var boton = $(event.target);
      var id_producto = boton.data('id');
      var cantidad = $(boton.closest('.extra.content').find('input')[0]).val();
      if(cantidad == null || cantidad < 1){
        cantidad = 1
      }
      console.log(`${id_producto} ${cantidad}`)
      $.ajax({
          url: '/producto/tienda/carrito',
          data: {
              'id_producto': id_producto,
              'cantidad': cantidad
          },
          dataType: 'json',
          success: function (data) {
              if(data.message == 'success'){
                console.log('agregamos')
              }else{
                console.log(data.message)
              }
          },
          error: function (xhr, textStatus, errorThrown) {
              console.log(errorThrown)
          }
      });
    }
  </script>
{% endblock scripts %}