{% load static %}
<div class="ui menu centered grid custom-menu" style="background-color: rgb(255, 255, 255);">
  <a href="{% url 'product:tienda' %}" class="ui black basic button large">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Tienda</font>
    </font>
  </a>

  <a href="{% url 'mision' %}" class="ui black basic button large">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Nuestra misión</font>
    </font>
  </a>

  <a href="{% url 'politicas' %}" class="ui black basic button large">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Políticas de la tienda</font>
    </font>
  </a>
  {% if user.is_authenticated %}
  <div class="ui compact menu">
    <div class="ui simple dropdown item">
      {{user.first_name}}
      <i class="dropdown icon"></i>
      <div class="menu">
        {% if user.is_superuser %}
        <div class="item" onclick="window.location.href = '/admin/';">Dashboard Admin</div>
        {% endif %}
        <a class="item" href="/logout/">Cerrar Sesion</a>
      </div>
    </div>
  </div>
  {% else %}
  <a href="{% url 'autenticacion' %}" class="ui black basic button large">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Registrarse</font>
    </font>
  </a>
  {% endif %}
  <div class="buycar">
    <div class="ui icon top left pointing dropdown button" style="background-color: transparent!important">
      <i class="shopping cart icon"></i>
      <div class="menu" style="min-width: 280px;">
        {% for id_producto, producto in request.session.carrito.items %}
          <div class="item resize">
            <div class="buycar-left">
              <img class="img-buycar" src="{{ producto.imagen }}" alt="">
            </div>
            <div class="buycar-right" data-total="{{ producto.total }}" style="width: 150px; max-width: 180px;">
              <span style="font-size: larger;">{{ producto.nombre }}</span>
              <span style="font-size: medium;">{{ producto.descripcion }}</span>
              <span style="font-size: medium;">{{ producto.precio }}</span>
              <span style="font-size: medium;">{{ producto.cantidad }}</span>
              <span style="font-size: medium;">{{ producto.total }}</span>
            </div>
          </div>
        {% endfor %}
        
        <div class="item resize active selected">
          Aqui va el ver mas
        </div>
      </div>
    </div>
  </div>
</div>