{% load static %}
<div class="ui menu centered grid custom-menu" style="background-color: rgb(255, 255, 255);">
  <a href="{% url 'product:tienda' %}" class="ui black basic button large">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Tienda</font>
    </font>
  </a>

  <a href="blog.php" class="ui black basic button large">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Blog</font>
    </font>
  </a>

  <a href="{% url 'mision' %}" class="ui black basic button large">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Nuestra misión</font>
    </font>
  </a>

  <a href="{% url 'politicas' %}" class="ui black basic button large">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Políticas de la tienda</font>
    </font>
  </a>
  <a href="{% url 'autenticacion' %}" class="ui black basic button large">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Registrarse</font>
    </font>
  </a>
  <div class="buycar">
    <div class="ui icon top left pointing dropdown button" style="background-color: transparent!important">
      <i class="shopping cart icon"></i>
      <div class="menu">
        <div class="item resize">
          <div class="buycar-left">
            <img class="img-buycar" src="{% static 'img/mision_tienda/motivar.png' %}" alt="">
          </div>
          <div class="buycar-right">
            <span>Nombre producto</span>
            <span>Descripcion producto</span>
            <span>precio producto</span>
          </div>
        </div>
        <div class="item resize">
          <div class="buycar-left">
            <img class="img-buycar" src="{% static 'img/mision_tienda/motivar.png' %}" alt="">
          </div>
          <div class="buycar-right">
            <span>Nombre producto</span>
            <span>Descripcion producto</span>
            <span>precio producto</span>
          </div>
        </div>
        <div class="item resize">
          <div class="buycar-left">
            <img class="img-buycar" src="{% static 'img/mision_tienda/motivar.png' %}" alt="">
          </div>
          <div class="buycar-right">
            <span>Nombre producto</span>
            <span>Descripcion producto</span>
            <span>precio producto</span>
          </div>
        </div>
        <div class="item resize">
          <div class="buycar-left">
            <img class="img-buycar" src="{% static 'img/mision_tienda/motivar.png' %}" alt="">
          </div>
          <div class="buycar-right">
            <span>Nombre producto</span>
            <span>Descripcion producto</span>
            <span>precio producto</span>
          </div>
        </div>
        <div class="item resize">
          <div class="buycar-left">
            <img class="img-buycar" src="{% static 'img/mision_tienda/motivar.png' %}" alt="">
          </div>
          <div class="buycar-right">
            <span>Nombre producto</span>
            <span>Descripcion producto</span>
            <span>precio producto</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>